<!-- views/random/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <form method="POST">
            <input type="submit" value="Random Station!">
        </form>
    </body>
</html>