<!-- views/random/show.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container">
            <h1 class="show-area"><%= random.station_name %></h1>
        </div>
    </body>
</html>